@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #15297c;
}



.titulo {
    color: white;
    font-size: 30px;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    flex: 1;
}

.logo {
    width: 90px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.contacto {
    color: white;
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
    text-align: right;
    margin-left: auto;
}




h2{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    display: flex;
    color: whitesmoke;
    font-size: 150%;
}

.navbar{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    display: flex;
    font-size: 150%;
    gap: 40px;

}

.navbaritems{
    color: lightblue;

}
.navbaritems:hover{
    transition: 1s;
    color: beige;
}

.logo:hover{
    scale:1.05;
    transition: all 0.3s ease-in-out;
}



header{
    background-color: #15297c;
}

body{
    background: whitesmoke;
    margin: 0px;
    
}

section{
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    justify-content: center;
}

.alojamientos{

    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    padding:20px; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;

    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.alojamientos:hover{
    scale:1.05;
    background-color: beige;
    transition: all 0.3s ease-in-out;
}

.alojamientos p{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    display: flex;
}

img{
    margin: 10px;
    width: 200px;
}


.acercade{
    margin-top:50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}

.infofooter{
    display: flex;
    justify-content: center;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buscartipo{
    display: flex;
    margin-left: 3%;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3%;
    font-size: larger;
}